
/*	
	____ ____ _    ___  ____ _  _    ____ _ ___  _ _  _ ____
	| __ |  | |    |  \ |___ |\ |    [__  |   /  | |\ | | __
	|__] |__| |___ |__/ |___ | \|    ___] |  /__ | | \| |__]

	---------------------------------------------------------------------------------------
		
	Scale: 16px 1.250
	https://type-scale.com/
	 7 : 4.76; 47.6
	 6 : 3.81; 38.1
	 5 : 3.05; 30.5
	 4 : 2.44; 24.4
	 3 : 1.95; 19.5
	 2 : 1.56; 15.6
	 1 : 1.25; 12.5
	 0 : 1.00; 10
	-1 : 0.80; 8
	-2 : 0.64; 6.4
	-3 : 0.51; 5.1
	-4 : 0.41; 4.1
	-5 : 0.32; 3.2 
*/

/* 
	---------------------------------------------------------------------------------------
	columns spacing 
*/
	.-gap-s{
		grid-gap:1vw;
		min-height:1vw;
	}
	.-gap-m{
		grid-gap:1.95vw;
		min-height:1.95vw;
	}
	.-gap-l{
		grid-gap:3.81vw;
		min-height:3.05vw;
	}
	.-gap-xl{
		grid-gap:4.76vw;
		min-height:4.76vw;
	}

/* 
	---------------------------------------------------------------------------------------
	columns padding 
*/
	div .-pad-xs, .-td-pad-xs > * {
		padding:0.64vw;
	}
	div .-pad-s, .-td-pad-s > * {
		padding:1vw;
	}
	div .-pad-m, .-td-pad-m > * {
		padding:1.95vw;
	}
	div .-pad-l, .-td-pad-l > * {
		padding:3.05vw;
	}
	/* padding horizontal */
	.-pad-h-s, .-td-pad-h-s > * {
		padding-left:1vw;
		padding-right:1vw;
	}
	.-pad-h-m, .-td-pad-h-m > * {
		padding-left:1.95vw;
		padding-right:1.95vw;
	}
	.-pad-h-l, .-td-pad-h-l > * {
		padding-left:3.05vw;
		padding-right:3.05vw;
	}
	
	/* margin  */
	.-mar-s, .-td-mar-s > * {
		margin:1vw;
		margin:1vw;
	}
	.-mar-m, .-td-mar-m > * {
		margin:1.95vw;
		margin:1.95vw;
	}
	.-mar-l, .-td-mar-l > * {
		margin:3.05vw;
		margin:3.05vw;
	}

	/* margin vertical */
	.-mar-v-s, .-td-mar-v-s > * {
		margin-top:1vw;
		margin-bottom:1vw;
	}
	.-mar-v-m, .-td-mar-v-m > * {
		margin-top:1.95vw;
		margin-bottom:1.95vw;
	}
	.-mar-v-l, .-td-mar-v-l > * {
		margin-top:3.05vw;
		margin-bottom:3.05vw;
	}

/* 
	---------------------------------------------------------------------------------------
	font-spacing 
*/
	h1{
		padding-top:3.05vw;
	}
	h2{
		padding-top:2.44vw;
	}
	h3{
		padding-top:1.95vw;
	}
	h4{
		padding-top:1.56vw;
	}
	h5{
		padding-top:1.25vw;
	}
	li{
		padding-top:1vw;
	}
	p,figure{
		padding-top:1.56vw;
	}
	p:last-child{
		padding-bottom:1.56vw;
	}

/* 
	---------------------------------------------------------------------------------------
	font sizes 
*/
	h1{
		font-size: calc(30.5px + 0.45vw);
		line-height: 125%;
	}
	h2{
		font-size: calc(24.4px + 0.45vw);
		line-height: 125%;
	}
	h3, .-large, .-large a, a.-large{
		font-size: calc(19.5px + 0.45vw);
		line-height: 150%;
	}
	h4, .-medium, .-medium a, a.-medium{
		font-size: calc(12.5px + 0.45vw);
		line-height: 150%;
	}
	p, h5, .-default, a, span, code, li{
		font-size: calc(8px + 0.45vw);
		line-height: 150%;
	}
	.-small, .-small a, a.-small{
		font-size: calc(5.1px + 0.45vw);
		line-height: 150%;
	}

/* 
	___  ____ ____ ___  ____ ____    ____ ___ _   _ _    ____
	|__] |  | |__/ |  \ |___ |__/    [__   |   \_/  |    |___
	|__] |__| |  \ |__/ |___ |  \    ___]  |    |   |___ |___
	---------------------------------------------------------------------------------------
	BORDER STYLE
*/

	/* 
	border radius
*/
	.-b-s, .-td-b-s > *{
		border-radius:calc(0.64px + 0.2vw);
	}
	.-b-m, .-td-b-m > *{
		border-radius:calc(2.44px + 0.2vw);
	}
	.-b-l, .-td-b-l > *{
		border-radius:calc(4.76px + 0.2vw);
	}

	/* 
	image 
	*/
	.float{
		float:left;
		padding-right:1.56vw;
	}
	