input.file{
	left: 0;
    top: -50%;
    width: 100%;
    height: 150%;
    opacity: 0;
    position: absolute;
}
input.file:hover{
	cursor: pointer;
}

input.file + label {
    
    display: block;
}

/*input.file:focus + label,
input.file + label:hover {
    background-color: red;
}
input.file + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}*/